In [34]:
from datascience import *
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

In [35]:
astronauts = pd.read_csv("astronauts.csv")

In [36]:
internationalastro = pd.read_csv("International Astronaut Database (2).csv")

In [45]:
internationalastro = internationalastro[internationalastro["Country"] != "United States"]
internationalastro = internationalastro.reset_index(drop=True)

In [44]:
internationalastro.to_csv("international_astronauts_no_US.csv", index=False)

In [47]:
string_test = "3:3:3"
t2 = string_test.split(":")
t2

['3', '3', '3']

In [51]:
map(int, t2)

In [54]:
def convert_to_min(time):
    d , h, m = map(int, time.split(":"))
    return d*24*60 + h*60 + m

In [55]:
convert_to_min("3:3:3")

4503

In [57]:
(3*24*60) + (3*60) + 3

4503

In [64]:
internationalastro_minutes = internationalastro["Total Flight Time in Minutes"] = internationalastro["Total Flight Time (ddd:hh:mm)"].apply(convert_to_min)

In [70]:
internationalastro_minutes.to_csv("international_astronauts_minutes.csv", index=False)

In [71]:
internationalastro.to_csv("International_Astronaut_Database_with_Minutes.csv", index=False)

In [79]:
internationalastro = internationalastro.drop(columns=["Total Flight Time (ddd:hh:mm)"])

KeyError: "['Total Flight Time (ddd:hh:mm)'] not found in axis"

In [80]:
internationalastro

,Name,country,Gender,Flights,Total Flights,Total Flight Time in Minutes
0,Zhang Xiaoguang,China,Man,Shenzhou 10 (2013),1,21028
1,Zhai Zhigang,China,Man,Shenzhou 7 (2008),1,4106
2,Yury Usachov,Russia,Man,"Soyuz TM-18 (1994), Soyuz TM-23 (1996), STS-10...",4,796224
3,Yuri Shargin,Russia,Man,Soyuz TMA-5 (2004),1,14249
4,Yuri Romanenko,Soviet Union,Man,"Soyuz 26 (1977), Soyuz 38 (1980), Soyuz TM-2 (...",3,620301
...,...,...,...,...,...,...
218,Aleksandr Ivanchenkov,Soviet Union,Man,Soyuz 29 (1978),1,201047
219,Aleksandr Balandin,Soviet Union,Man,Soyuz TM-9 (1990),1,257837
220,Aleksandar Panayotov Aleksandrov,Bulgaria,Man,Soyuz TM-5 (1988),1,131686
221,Akihiko Hoshide,Japan,Man,"STS-124 (2008), Soyuz TMA-05M (2012), SpaceX C...",3,2522894
222,Abdul Ahad Mohmand,Afghanistan,Man,Soyuz TM-6 (1988),1,12746

In [78]:
internationalastro = internationalastro.rename(columns={"Country": "country"})

In [81]:
internationalastro = internationalastro.rename(columns={"Gender": "gender"})

In [82]:
internationalastro = internationalastro.rename(columns={"Total Flights": "total_flights"})

In [83]:
internationalastro = internationalastro.rename(columns={"Total Flight Time in Minutes": "total_time"})

In [84]:
internationalastro

,Name,country,gender,Flights,total_flights,total_time
0,Zhang Xiaoguang,China,Man,Shenzhou 10 (2013),1,21028
1,Zhai Zhigang,China,Man,Shenzhou 7 (2008),1,4106
2,Yury Usachov,Russia,Man,"Soyuz TM-18 (1994), Soyuz TM-23 (1996), STS-10...",4,796224
3,Yuri Shargin,Russia,Man,Soyuz TMA-5 (2004),1,14249
4,Yuri Romanenko,Soviet Union,Man,"Soyuz 26 (1977), Soyuz 38 (1980), Soyuz TM-2 (...",3,620301
...,...,...,...,...,...,...
218,Aleksandr Ivanchenkov,Soviet Union,Man,Soyuz 29 (1978),1,201047
219,Aleksandr Balandin,Soviet Union,Man,Soyuz TM-9 (1990),1,257837
220,Aleksandar Panayotov Aleksandrov,Bulgaria,Man,Soyuz TM-5 (1988),1,131686
221,Akihiko Hoshide,Japan,Man,"STS-124 (2008), Soyuz TMA-05M (2012), SpaceX C...",3,2522894
222,Abdul Ahad Mohmand,Afghanistan,Man,Soyuz TM-6 (1988),1,12746

In [85]:
internationalastro.to_csv("International_Astronaut_Database_cleaned.csv", index=False)

In [90]:
mean_minutes = internationalastro["total_time"].mean()
mean_minutes

270523.45739910315

In [92]:
internationalastro = internationalastro[internationalastro["country"] != "Peru"]

In [95]:
internationalastro.to_csv("international_astronauts.csv", index=False)

In [96]:
nasa = pd.read_csv("nasa_new.csv")

In [98]:
nasa = nasa[nasa["Country"] != "Peru"]

In [100]:
nasa.to_csv("nasa_new.csv", index=False)

In [1]:
us_states = [
    "Alabama","Alaska","Arizona","Arkansas","California","Colorado","Connecticut",
    "Delaware","Florida","Georgia","Hawaii","Idaho","Illinois","Indiana","Iowa",
    "Kansas","Kentucky","Louisiana","Maine","Maryland","Massachusetts","Michigan",
    "Minnesota","Mississippi","Missouri","Montana","Nebraska","Nevada","New Hampshire",
    "New Jersey","New Mexico","New York","North Carolina","North Dakota","Ohio",
    "Oklahoma","Oregon","Pennsylvania","Rhode Island","South Carolina","South Dakota",
    "Tennessee","Texas","Utah","Vermont","Virginia","Washington","West Virginia",
    "Wisconsin","Wyoming"
] #asked chatgpt to write out all the states to save time

In [102]:
nasa_states_only = nasa[nasa["Birth Place"].isin(us_states)]

In [105]:
nasa_states_only["Birth Place"]

0             Texas
1        California
2          Michigan
3      Pennsylvania
4      Pennsylvania
           ...
263      New Jersey
264        Oklahoma
265    Rhode Island
266       Tennessee
267         Florida
Name: Birth Place, Length: 249, dtype: object

In [106]:
regions = {
    "Northeast": [
        "Connecticut","Maine","Massachusetts","New Hampshire","Rhode Island","Vermont",
        "New Jersey","New York","Pennsylvania"
    ],
    "Midwest": [
        "Illinois","Indiana","Iowa","Kansas","Michigan","Minnesota","Missouri","Nebraska",
        "North Dakota","Ohio","South Dakota","Wisconsin"
    ],
    "South": [
        "Alabama","Arkansas","Delaware","Florida","Georgia","Kentucky","Louisiana",
        "Maryland","Mississippi","North Carolina","Oklahoma","South Carolina","Tennessee",
        "Texas","Virginia","West Virginia","District of Columbia"
    ],
    "West": [
        "Alaska","Arizona","California","Colorado","Hawaii","Idaho","Montana","Nevada",
        "New Mexico","Oregon","Utah","Washington","Wyoming"
    ]
} #asked chatgpt to sort these

In [107]:
state_to_region = {state: region for region, states in regions.items() for state in states}

In [111]:
nasa_states_only.loc[:, "Region"] = nasa["Birth Place"].map(state_to_region)

/var/folders/2h/6x0q27m90lj5ymx_mjhdwb1w0000gn/T/ipykernel_69231/1529453957.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  nasa_states_only.loc[:, "Region"] = nasa["Birth Place"].map(state_to_region)

In [112]:
nasa_states_only.to_csv("nasa_new.csv", index=False)